StripePayment__SecretKey=
StripePayment__PublishableKey=
StripePayment__WebhookSecret=
StripePayment__UseSimulatedCheckout=false
StripePayment__SimulatedCheckoutBaseUrl=http://localhost:4200/payment/checkout-simulated
StripePayment__DefaultSuccessUrl=http://localhost:4200/payment/success?session_id={CHECKOUT_SESSION_ID}
StripePayment__DefaultCancelUrl=http://localhost:4200/payment/cancel

AppUrls__ApiBaseUrl=https://localhost:7100
AppUrls__FrontendBaseUrl=http://localhost:4200

EmailSettings__SmtpHost=smtp.gmail.com
EmailSettings__SmtpPort=587
EmailSettings__UserName=
EmailSettings__Password=
EmailSettings__FromEmail=
EmailSettings__FromName=HEVEQ
EmailSettings__EnableSsl=true

Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=
Cloudinary__MaxImageSizeInMb=10

AiSettings__OpenAi__ApiKey=
AiSettings__OpenAi__Model=gpt-5-mini
AiSettings__OpenAi__MaxTokens=1000