StripePaymentSecretKey=
StripePaymentPublishableKey=
StripePaymentWebhookSecret=
StripePaymentUseSimulatedCheckout=false
StripePaymentSimulatedCheckoutBaseUrl=http://localhost:4200/payment/checkout-simulated
StripePaymentDefaultSuccessUrl=http://localhost:4200/payment/success?session_id={CHECKOUT_SESSION_ID}
StripePaymentDefaultCancelUrl=http://localhost:4200/payment/cancel

AppUrlsApiBaseUrl=https://localhost:7100/
AppUrlsFrontendBaseUrl=http://localhost:4200/

EmailSettingsSmtpHost=smtp.gmail.com
EmailSettingsSmtpPort=587
EmailSettingsUserName=
EmailSettingsPassword=
EmailSettingsFromEmail=
EmailSettingsFromName=HEVEQ
EmailSettingsEnableSsl=true

CloudinaryCloudName=
CloudinaryApiKey=
CloudinaryApiSecret=
CloudinaryMaxImageSizeInMb=10

AiSettingsOpenAiApiKey=
AiSettingsOpenAiModel=gpt-5-mini
AiSettingsOpenAiMaxTokens=1000